.home-cta {
    padding: 50px 20%;
    position: relative;
}

.home-hero-image {
    content: "";
    background-image: url("../assets/home/hero_flower.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 303.32px;
    height: 324.62px;
    position: absolute;
    left: 0;
    top: 150px;
}

.home-hero-image:hover {
    animation: rotate linear infinite 5s forwards;
}


.home-cta-button {
    align-self: center;
}

.home-activity {
    width: 100%;
    text-align: right;
}

.home-activity>div:nth-child(even) {
    flex-direction: row-reverse;
    text-align: left;
}

.home-activity-img {
    width: 50%;
    aspect-ratio: 4/3;
    background-color: lightgrey;
}

.home-activity-info {
    max-width: 50%;
}

.home-activity>div:nth-child(odd) .home-activity-info {
    align-items: flex-end;
}

.home-lineup-button {
    max-width: 80%;
}

.page-title {
    position: relative;
}
.page-title::before {
    content: "";
    background-image: url("../assets/home/title_flower.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 252px;
    height: 272.55px;
    position: absolute;
    z-index: -10;
    right: 0;
    top: 0;
    transform: translate(50%,-20%);
}

/* Color Scheme */
nav {
    background-color: #e8f7ff;
}

footer {
    background-color: #e8f7ff;
}

button {
    border-color: #465c94;
    background-color: white;
}

h1, h2 {
    color: #465c94;
}

body {
    background-color: #f6fbfe;
}