.home-cta {
    padding: 50px 20%;
}

.home-cta-button {
    align-self: center;
}

.home-activity {
    width: 100%;
}

.home-activity>div:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.home-activity-img {
    height: 300px;
    aspect-ratio: 4/3;
    background-color: lightgrey;
}

.home-activity-info {
    max-width: 1000px;
}