nav {
    border-bottom: 1px solid black;
}

#nav-links {
    width: 40%;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
}

#date {
    font-size: 0.8em;
    align-content: center;
}

#app {
    padding: 40px 20%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

footer {
    padding: 40px 10%;
}

#social-links {
    width: 30%;
    list-style: none;
}

.drop-group {
    height: 1em;
    position:relative;
}

.drop-down {
    position: absolute;
    background-color: white;
    font-size: 0.9em;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
    padding: 10px;
}