:root {
    --content-padding: 5%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Hanken Grotesk", Arial, Helvetica, sans-serif;
    font-size: 28px;
    height: 100vh;
    width: 100vw;
}

.page-title {
    text-transform: uppercase;
    text-align: center;
    align-content: center;
    font-weight: 400;
    font-size: 96px;
}

.blurb {
    max-width: 700px;
    text-align: center;
}

.flex {
    display: flex;
}

.flex--hr {
    flex-direction: row;
}

.flex--vr {
    flex-direction: column;
}

.flex--center {
    justify-content: center;
    align-items: center;
}

.flex--g-10px {
    gap: 10px;
}

.flex--g-20px {
    gap: 20px;
}

.flex--g-30px {
    gap: 30px;
}

.flex--g-40px {
    gap: 40px;
}

.flex--g-80px {
    gap: 80px;
}


.flex--justify-center {
    justify-content: center;
}

.flex--justify-around {
    justify-content: space-around;
}

.flex--justify-between {
    justify-content: space-between;
}

.pad--10px {
    padding: 10px;
}

.pad--20px {
    padding: 20px;
}

.pad--30px {
    padding: 30px;
}

.pad--40px {
    padding: 40px;
}

.divider {
    background-color: gray;
}

.divider--vertical {
    width: 1px;
    height: 100%;
}

h1, h2 {
    font-family: playtimes;
    font-size: 96px;
    color: black;
    -webkit-text-stroke: 5px;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 45px;
    -webkit-text-stroke: 3px;
}

img {
    border-radius: 30px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    border-radius: 30px;
    padding: 20px 80px;
    background-color: lightgray;
    border-top: 7px solid;
    border-right: 20px solid;
    border-bottom: 20px solid;
    border-left: 7px solid;
    font-size: 2rem;
}

ul {
    list-style: none;
}

em {
    font-weight: 600;
    font-style: normal;
}